<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MY APP</title>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"></script>
</head>
<body>
    <form action="/words" method="POST">
        <input type="text" placeholder="word" name="word" required>
        <input type="text" placeholder="type" name="type" required>
        <button type="submit">Submit</button>
    </form>
    <form action="/" method="POST">
        <textarea placeholder="Phrase to check" name="phrase" required></textarea>
        <button type="submit">Check</button>
    </form>
    <h3><%= result %></h3>
    <ul class="words">
        <% for(let i=0; i<words.length; i++) {%>
        <div class="word">
            <span><%= words[i].word %></span> -
            <span><%= words[i].type %></span>
            <form method="POST" style="display: inline-block; margin-bottom: 8px" action="/delete">
                <input type="hidden" name="wordDelete" value="<%= words[i].word %>"/>
                <button type="submit">Delete</button>
            </form>
        </div>
        <% } %>
    </ul>
</body>
</html>